<script src="/js/libs/modernizr-2.6.2.min.js"></script>

<form action="" id="data-form">
	<input type="hidden" name="bureau-uid" id="bureau-uid" value="{{ uid }}">
	<input type="hidden" name="bureau-gamegroup" id="bureau-gamegroup" value="{{ gamegroup.ggid }}">
	<input type="hidden" name="bureau-token" id="bureau-token" value="{{ token }}">
</form>
<script>
	var APP_TOKEN = "{{ APP_TOKEN }}",
		BUREAU_USER = {
			uid: "{{ uid }}",
			gamegroup: "{{ gamegroup.ggid }}",
			token: "{{ token }}"
		},
		BUREAU_KILLMETHODS = {{gamegroup.killmethods|json|safe}},
		BUREAU_ASSASSIN = {{projectedAssassin|json|safe}};
</script>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/js/libs/jquery-1.9.1.min.js"><\/script>')</script>
<script type="text/javascript" src="/js/libs/plugins.js" charset="utf-8"></script>
<script type="text/javascript" src="/js/libs/lodash.min.js" charset="utf-8"></script>
<script type="text/javascript" src="/js/libs/browser-polyfill.min.js" charset="utf-8"></script>

{% if PRODUCTION_ENV %}
	<script type="text/javascript" src="/js/libs/react-with-addons.min.js" charset="utf-8"></script>
	<script type="text/javascript" src="/js/libs/react-dom.min.js" charset="utf-8"></script>
	<script type="text/javascript" src="/js/bureau.js" charset="utf-8"></script>
{% else %}
	<script type="text/javascript" src="/devstatic/react-with-addons.js" charset="utf-8"></script>
	<script type="text/javascript" src="/devstatic/react-dom.js" charset="utf-8"></script>
	{% for file in CLIENT_DEV_FILES %}
		<script type="text/javascript" src="/devstatic/js/{{file}}" charset="utf-8"></script>
	{% endfor %}
	<div id="dev-test"></div>
{% endif %}
