{% import './macros/form.html' as form %}
{% import './macros/rows.html' as rows %}
{% import './macros/util.html' as util %}
{% import './macros/card.html' as card %}
<!DOCTYPE HTML>
<!--

{% include "../startup-art.txt" %}

-->
<html>
<head>
<meta charset=UTF-8>

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<link rel="shortcut icon" href="/favicon.ico">
<link rel="stylesheet" type="text/css" href="/css/bureau.css">
<style id="search_style"></style>
<title>Bureau - Change Password</title>
</head>

<body id="page-changepassword">
{% include "./includes/errors.html" %}
<h1>You've used a temporary password</h1>
<p>To keep your account secure it's best for you to change your password. Make sure it's over 6 characters long!</p>

<form action="/changepassword" method="POST">
	<div id="change-password" class="container light-container">
		<h4>Change Password</h4>
		<form action="/changepassword" method="POST">
			{{form.t(token)}}
			{{form.a('changepassword')}}
			
			<div class="editable-row">
				<input type="password" id="oldpassword" name="oldpassword" value="" placeholder="Temporary Password">
				<label for="oldpassword">Temporary Password</label>
			</div>
			
			<div class="editable-row">
				<input type="password" id="newpassword" name="newpassword" value="" placeholder="New Password">
				<label for="newpassword">New Password</label>
			</div>
			
			<div class="editable-row">
				<input type="password" id="verifypassword" name="verifypassword" value="" placeholder="Verify Password">
				<label for="verifypassword">Verify Password</label>
			</div>
			
			<input type="submit" value="Change Password">
			
		</form>
	</div>
</form>

{% include "./includes/footer.html" %}
</body>
</html>