{% import './macros/form.html' as form %}
{% import './macros/rows.html' as rows %}
{% import './macros/util.html' as util %}
{% import './macros/card.html' as card %}
<!DOCTYPE HTML>
<!--

{% include "../startup-art.txt" %}

-->
<html>
<head>
<meta charset=UTF-8>

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<link rel="shortcut icon" href="/favicon.ico">
<link rel="stylesheet" type="text/css" href="/css/bureau.css">
<style id="search_style"></style>
<title>Bureau - Update Details</title>
</head>

<body id="page-forgotpassword">

	<div class="container light-container">
		<h2>Forgotten Your Password?</h2>
		<p>We're working on a secure password reset feature to make forgetting your password less embarrassing, but in the meantime you should contact an administrator for your gamegroup and ask them to reset your password for you.</p>
		<br>
		<p>When you ask them to reset the password, a one time login password will be generated which they'll give to you. After this you'll be forced to change your password when you log in.</p>
	</div>

{% include "./includes/footer.html" %}
</body>
</html>