{% extends "./base.html" %}

{% block title %}Gamegroup{% endblock %}

{% block main %}

<h6>Manage {{gg.name}} Guild</h6>
<ul id="guild-list" class="player-table membership">
{% for a in assassins %}
{% if a.guild %}
	{{ rows.removeGuildMember(a) }}
{% endif %}
{% endfor %}
</ul>

<ul id="guild-addguild" data-search="add guild" data-searchclass="addplayer-search" data-searchmethod="inclusive" class="player-table searchable">
{% for a in assassins %}
{% if !a.guild %}
	{{ rows.addGuildMember(a) }}
{% endif %}
{% endfor %}
</ul>

{{form.t(token)}}
{% endblock %}