{% extends "./base.html" %}

{% block title %}Home{% endblock %}

{% block main %}
	<div class="" id="welcome-message" style="opacity: 1;"><a href="playground.php" style="color:inherit;text-decoration:none;">.</a></div>

<script type="text/javascript">var displayName = '{% if isAdmin %}Sir.{% else %}{{assassin.nickname|default(assassin.forename)}}{% endif %}'</script>

{% if !games.length %}
	<div id="game-title" class="container">
		<h2>No Games Running</h2>
		<div id="motd">{{gamegroup.motd|default('Welcome to Bureau!')|autolink}}</div>
	</div>
{% else %}
	{% for game in games %}
		
		<div id="game-title" class="container">
			<h2>{{game.name}}</h2>
			{% if loop.first %}
			<div id="motd">{{gamegroup.motd|default('Welcome to Bureau!')|autolink}}</div>
			{% endif %}
		</div>
		<div class="game-info">{{game.kills.length}} kill{{game.kills.length|plural}}, {{game.deaths.length}} death{{game.deaths.length|plural}}</div>
		<ul id="game-{{game.gameid}}" class="player-table searchable {{game.type}}">
			{% for a in game.assassins %}
				{% if a._id|safe != uid %}
					{{ rows.gamePlayer(a,game) }}
				{% endif %}
			{% endfor %}
		</ul>
		{% if assassin.guild %}
		<div class="csv-link">
			<a href="/data/players/{{game.gameid}}.csv">Download players as .csv</a>
		</div>
		{% endif %}
		
	{% endfor %}
{% endif %}

{{form.t(token)}}
{% endblock %}