<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>Bureau - Make Friends And Kill Them</title>
		<meta name="description" content="A brand new game engine for the modern assassin in you">
		<meta name="viewport" content="width=device-width">
		<link rel="stylesheet" href="/css/bureau-landingpage.css">
	</head>
	<body class="mode-{{mode}} {% if gamegroup %}mode-form{% endif %}">
		<canvas id="pattern"></canvas>
		<div id="zoom">
			<div class="blue"></div>
			<div class="green"></div>
			<div class="purple"></div>
			<div class="orange"></div>
			<div class="red"></div>
		</div>
		<div id="landing">
			<div class="v-centre">
				<main>
					<section id="welcome">
						<h2 class="">
							<div class="row"><span class="blue">Make</span></div>
							<div class="row"><span class="green">Friends</span></div>
							<div class="row"><span class="orange" id="and">and</span>
							<span class="red" id="kill">Kill</span></div>
							<div class="row"><span class="purple">Them</span></div>
						</h2>

						<h1>
							<div id="login-signup">
								<a href="/login">Log In</a>
								<span>or</span>
								<a href="/register">Sign Up</a>
							</div>
							<div class="spacer"></div>
							<span>Welcome to</span>
							<div class="bureau">Bureau</div>
						</h1>
					</section>
				</main>
			</div>
		</div>

		{% include './login.html' %}

		<script type="text/javascript">
			var BUREAU_GAMEGROUPS = {{gamegroups|json|raw}};
		</script>
		<script src="/js/libs/jquery-1.9.1.min.js"></script>
		<script src="/js/libs/perlin.js"></script>
		<script src="/js/bureau-landingpage.js"></script>
	</body>
</html>
