<div id="login">
	<div id="whitelabels">
		{% for gg in gamegroups %}
			{% if gg.whitelabel %}
				<a class="whitelabel" href="/login/{{gg.ggid|lower}}">
					<div class="logo" style="background-image:url('/images/whitelabels/{{gg.ggid|lower}}/logo.svg')"></div>
					<div class="whitelabel-name">{{gg.name}}</div>
				</a>
			{% endif %}
		{% endfor %}
	</div>
</div>

<div id="login-form">
	<div class="header">
		<div class="whitelabel-header">

			<div class="whitelabel-name">
				<div class="whitelabel-logo" style="background-image:url('/images/whitelabels/{{gamegroup.ggid|lower}}/logo.svg')"></div>
				<span>{{gamegroup.name}}</span>
			</div>
		</div>
	</div>
</div>
