{% extends "./base.html" %}

{% block title %}Me{% endblock %}

{% block main %}
<div id="personal-page">

	<div id="personal-header">
		
		<div id="display-picture" style="{% if assassin.imgname %}background-image: url({{assassin.imgname}}){% endif %}">
			<form action="/personal" method="POST" enctype="multipart/form-data" id="picture-form">
				{{form.t(token)}}
				<input type="file" name="picture" id="picture-input">
				<label id="file-input-label" for="picture-input">Change Picture</label>
				<input type="hidden" name="action" value="picturechange">
				<noscript><input type="submit" name="submit" value="upload dat ho"></noscript>
			</form>
		</div>
		<div id="name">{{assassin.forename}} {{assassin.surname}}</div>
		<div id="nickname">{% if assassin.nickname %}{{assassin.nickname}}, {% endif %}Lethality: {{lethality}}</div>
	</div>
	
	<div id="personal-content">
		
		<div id="details" class="container light-container">
			<h4>Personal Details</h4>
			<button class="edit-button" {% if detailspending %}disabled="true"{% endif %}>
				{% if detailspending %}awaiting approval{% else %}edit{% endif %}
			</button>
			
			<form action="/personal" method="POST">
				{{form.t(token)}}
				<input type="hidden" name="action" value="detailschange" />
				{% if gamegroup.ggid == 'DURHAM' %}
				<div class="row">
					<input type="text" disabled="true" name="college" value="{{assassin.college}}" id="college-input">
					<label for="college-input">College</label>
				</div>
				{% endif %}
				
				<div class="editable-row">
					<input type="text" name="course" disabled="true" value="{{assassin.course}}" id="course-input">
					<label for="course-input">Course</label>
				</div>
				
				<div class="editable-row">
					<input type="text" name="address" disabled="true" value="{{assassin.address}}" id="address-input">
					<label for="address-input">Address & Postcode/Block & Room Number</label>
				</div>
				
				{% if gamegroup.ggid == 'DURHAM' %}
				<div id="living-in-row" class="editable-row" data-lio="Living {% if assassin.liverin %}In{% else %}Out{% endif %}">
					<input id="liverin-input" type="checkbox" name="liverin" value="Yes" {% if assassin.liverin %}checked{% endif %}>
					<label for="liverin-input">Living In</label>
				</div>
				{% else %}
				<input type="hidden" name="liverin" value="{% if assassin.liverin %}Yes{% else %}No{% endif %}">
				{% endif %}
			</form>
		</div>
		
		<div id="kd-ratio" class="container light-container">
			<h4>Kill/Death</h4>
			<span id="kills-total" title="kills">{{ stats.kills }}</span>
			<span id="colon">:</span>
			<span id="deaths-total" title="deaths">{{ stats.deaths }}</span><br>
			<span id="ratio" title="ratio">{% if stats.ratio===Infinity %}&infin;{% else %}{{ stats.ratio }}{% endif %}</span>		
		</div>
		
		<div id="change-password" class="container light-container">
			<h4>Change Password</h4>
			<form action="/changepassword" method="POST">
				{{form.t(token)}}
				{{form.a('changepassword')}}
				
				<div class="editable-row">
					<input type="password" id="oldpassword" name="oldpassword" value="" placeholder="Old Password">
					<label for="oldpassword">Old Password</label>
				</div>
				
				<div class="editable-row">
					<input type="password" id="newpassword" name="newpassword" value="" placeholder="New Password">
					<label for="newpassword">New Password</label>
				</div>
				
				<div class="editable-row">
					<input type="password" id="verifypassword" name="verifypassword" value="" placeholder="Verify Password">
					<label for="verifypassword">Verify Password</label>
				</div>
				
				<input type="submit" value="Change Password">
				
			</form>
		</div>
	
	</div>
</div>
<script type="text/javascript" src="/js/bureau-personal.js" charset="utf-8"></script>
{% endblock %}