{% extends "./base.html" %}
{% set hideHeader=true %}
{% block title %}Report{% endblock %}

{% block main %}

<div class="kill-report-container">

	<div id="kill-report-top-decor"></div>
	<div class="kill-report-inner">
		<form method="post" action="" autocomplete="off">
			{{form.t(token)}}
			<input type="hidden" name="gameid" value="{{gameid}}" autocomplete="off">
			<input type="hidden" name="victimid" value="{{victimid|default(victim._id|safe)}}" autocomplete="off">

			<header>
				<span>You Killed</span>
				<figure>
					{{card.card(victim)}}
				</figure>
			</header>
			<section id="method" class="dropdown">

				<span><label for="killmethod-dropdown">method</label>
				<select id="killmethod-dropdown" name="killmethod" autocomplete="off">
				{% for method in killmethods %}
					{% if !method.retired %}
						<option {% if method.id == killmethod %}selected{% endif %}
							value="{{method.id}}"
							data-zone="{{method.zone}}"
							data-question="{{method.detailquestion}}"
							{%if method.id in unavailablekillmethods %}disabled{% endif %}>{{method.name}}{%if method.id in unavailablekillmethods %} [unavailable]{% endif %}</option>
					{% endif %}
				{% endfor %}
				</select>
				</span>
				<div>
					<input id="killMethodQuestionInput" name="killmethod-detail" type="text" value="" autocomplete="off">
				</div>
			</section>
			<section id="time">
				<span><label for="time-input">time</label>
				<input id="time-input" type="text" name="time" value="{{now|prettyTimestamp}}" autocomplete="off">
				</span>
			</section>

			<section id="place">
				<span><label for="place-input">place</label>
				<div id="coords-btn" class="hidden"></div>
				<input id="place-input" name="place" type="text" placeholder="e.g. Outside the Library" value="" autocomplete="off">
				<input id="coords-input" name="coords" type="hidden" value="" autocomplete="off">
				</span>
			</section>

			<section id="report-text">
				<span>report</span>
				<textarea name="report-text" id="killreport-textarea" placeholder="Describe what happened" autocomplete="off"></textarea>
			</section>

			<div class="targetdecor"></div>

			<div id="submit-button" class="fancy-submit">Submit</div>

		</form>
	</div>
</div>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB01yd9fWUD7iZU45t6Z7HJS6os-y2UCrA&sensor=false"></script>
{% endblock %}
