/* @override 
	http://www.dur.ac.uk/b.t.tattersley/bureau/css/bureau-login.css
	http://localhost:8888/bureau/css/bureau-login.css */
	
html, body {
	width: 100%;
	height: 100%;
}

::selection {
	background: transparent;
}

body {
	width: 100%;
	height: 100%;
	display: table;
	vertical-align: middle;	
	padding: 0 !important;
}

.header {
	background: white;
	width: 100%;
	height:80px;
	position: absolute;
	top:0;
	left: 0;
	border-bottom: 2px solid #b82727;
	display: none;
}

#login-register-box-wrapper {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	width: 100%;
}

.login {
	margin: 0 auto 0 auto;
	max-width: 400px;
	padding-top: 30px;
	border: 2px solid white !important; /* Override the media query in bureau.css for small screen sizes */

}

#login-box {
	padding-bottom: 5px;
}

#register-box {
	margin-top: -248px;
}
.login input {
	display: block;
	width: 100%;
	height: 40px;
	border: none;
	outline: none;
	text-indent: 10px;
	color: #666666;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.login .input-container {
	height: 40px;
	width: 100%;
	background: white;
	font-size: 10px;
	color: #666666;
	text-align: left;
	text-indent: 10px;
	line-height: 40px;
	position: relative;
	
}

.login .input-container label {
	position: absolute;
	top: 0;
	left: 0;
	right: 65px;
	text-indent: 0;
	line-height: 13px;
	padding-top: 9px;
}

.login .input-container input[type="checkbox"] {
	width: 60px;
	height: 30px;
	border-radius: 15px;
	margin: 5px 3px 0 0;
}

.login .half {
	width: 50%;
	float: left;
}

.login .quarter {
	width: 25%;
	float: left;
}

.login .threequarter {
	width: 75%;
	float: left;
}

/* @group Submit & Remember Me */
	#submit-wrapper {
		width: 100%;
		height: 40px;
		background: white;
	}
		
	.login input[type="submit"] {
		/* margin-top: 10px; */
		background: transparent;
		color: #888888;
		text-indent: 40%;
		font-weight: 700;
		
		-webkit-transition: all 0.3s ease;
		transition: all 0.3s ease;
		
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		
		cursor: pointer;
		
		width: 70% !important;
		float: left;
		margin-right: 0;
		border: none;
	}
	
	.login input[type="submit"]:hover {
		color: white;
		background: rgba(0,0,0,0.3);
		color: white;
		
		box-shadow: inset 0px 1px 5px rgba(0,0,0,0.2);
	}
		
	#rememberme-wrapper {
		width: 30%;
		float: right;
		height: 40px;
		position: relative;
	}
	
	#rememberme-wrapper input[type="checkbox"] {
		margin: 5px 5px 0 0;
		float: right;

	}
	
	#rememberme-wrapper label {
		color: #777;
		font-size: 11px;
		float: left;
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		right: 70px;
		line-height: 13px;
		padding-top: 1px;
		text-transform: uppercase;
		text-align: right;
		
		-webkit-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}
	
	#submit-button:hover+#rememberme-wrapper > label {
		color: white;
	}
	
	#submit-button:hover+#rememberme-wrapper > #rememberme-checkbox:checked + label {
		color: #777;
	}
	
/* @end */

.login select {
	border: none;
	outline: none;
	width:100%;
	height:40px;
	line-height: 40px;
	background: white;
	
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	
	text-indent: 10px;
	color: #666666;
}

#consent-label {
	height: 60px;
	padding: 10px 10px 0px 10px;
	background: white;
	display: block;
	clear: both;
	font-size: 14px;
}

#consent-box {
	height: 39px;
	border-bottom: 1px solid #888888;
	text-align: center;
}

#register-link {
	text-decoration: none;
	color:white;
	font-size: 10px;
	font-weight: 400;
}

#register-link:hover {
	color: white;
}

#register:target {
	height:310px;
}

#register {
	overflow: hidden;
	height: 0px;
	-webkit-transition: height 1s ease;
	transition: height 1s ease;
}

.error-output {
	margin-top: -20px;
}

#forgot-password-link {
	color: #888;
	text-decoration: none;
	font-size: 10px;
	margin-top: 10px;
	display: block;
}

body.dark #forgot-password-link {
	color: #bbb;
}