/* @override 
	http://www.dur.ac.uk/b.t.tattersley/bureau/css/bureau-settings.css
	http://localhost:8888/bureau/css/bureau-settings.css */

#settings {
	/*-webkit-column-width: 440px;
	-moz-column-width: 440px;
	column-width: 440px;*/

}

.settings-container {
	margin-bottom: 10px;
	max-width: 580px;
}

h2 {
	margin-bottom: 10px;
	margin-top: 10px;
}

/* @group Inputs */
	
	input { /* Input boxes styling. Carry over a lot of styles from login */
		display: block;
		width: 100%;
		height: 40px;
		border: none;
		outline: none;
		text-indent: 10px;
		color: #666666;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
	}
	
	
	.input-group {
		max-width:400px;
		margin: auto;
		box-shadow: 0 1px 6px rgba(0,0,0,0.3);
		margin-top: -5px;
	}
	
	
	
	input[type="submit"] { /* Style the submit buttons. Mostly copy login */
		/* margin-top: 10px; */
		background: silver;
		color: #666;
		text-indent: 0;
		font-weight: 700;
		
		-webkit-transition: all 0.3s ease;
		transition: all 0.3s ease;
		
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		
		cursor: pointer;
	}
	
	input[type="submit"]:hover {
		background: rgba(0,0,0,0.3);
		color: white;
		
		box-shadow: inset 0px 1px 5px rgba(0,0,0,0.2);
	}
	
	/* @group Checkbox */
		
		.checkbox-row {
			width: 100%;
			height: 50px;
			line-height: 50px;
			background: white;
			position: relative;
		}
		
		.checkbox-row label {
			display: block;
			position: absolute;
			top: 0;
			right: 80px;
			bottom: 0;
			left: 0;
			padding-left: 20px;
		}
		
		
		
	/* @end */
	
/* @end */

/* @group Transitioned Selector */
	
	/* Transitioned Selector widget */
	
	.transitioned-selector {
		height: 40px;
		width: 100%;
		overflow: hidden;
		position: relative;
		color: white;
	}
	
	.transitioned-selector-option {
		width: 100%;
		height: 100%;
		line-height: 40px;
		text-align: center;
		position: absolute;
		top:0;
		bottom:0;
		
		-webkit-transition: all 0.5s ease;
		transition: all 0.5s ease;
	}
	
	.transitioned-selector-button {
		position: absolute;
		width: 50%;
		height: 100%;
		top:0;
		z-index: 100;
		line-height: 40px;
		cursor: pointer;
		text-align: center;
		font-family: Arial, sans-serif;
		font-size: 40px;
		font-weight: normal;
		background-repeat:  no-repeat;
		background-position: center center;
	}
	
	.previous-button {
		background-image: url("../images/left-triangle.png");
	}
	.next-button {
		background-image: url("../images/right-triangle.png");
	}
	
	.transitioned-selector-button.disabled {
		opacity: 0.5;
	}
	
/* @end */

/*Hi res display images*/
@media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {

	.transitioned-selector-button {
		background-size: 24px 25px;
	}
	
	.previous-button {
		background-image: url("../images/left-triangle@2x.png");
	}
	.next-button {
		background-image: url("../images/right-triangle@2x.png");
	}
}