.bounty-create {
	background: white;
	padding: 1em;

	&-header {
		font-size: 2em;
		font-weight: 200;
	}
}

.toolbar-content-overlay {
	.bounty-create {
		width: 100%;
		height: 100%;
		.scroller();
	}
}
