Circle: {{circleText}}<br><br>

{% if requester != playerid %}
Being targeted by: {{playersTargeting}}<br><br>
{% else %}
Being targeted by: xXx_C H E A T B O Y S_xXx<br><br>
{% endif %}

{% for target in player.targets|reverse %}
	<em>Deadline: {{ target.deadline | prettyTimestamp }}</em><br>
	{% for targetStatus in target.targetStatuses %}
		{{targetStatus.assassin | fullname}}: {{targetStatus.statusText}}<br>
	{% endfor %}
	{%if !loop.last %}<hr>{% endif %}
{% endfor %}
<br>
<div class="param">
<label for="permacircle-{{playerid}}">Force Stay In Inner Circle</label>
<input type="checkbox" name="permacircle" id="permacircle-{{playerid}}" value="yes" {% if player.permaCircle %}checked{% endif %}>
</div>
<input type="submit" name="changegamestatebtn" value="Alter Player">
