Standard pair locking deathmatch with the caveat of any kill method only being able to be used once<br>
At the start of the game everyone in the game has everyone else in the game as a target. Consider players A, B and C.<br><br>

Player A kills player B. the pairing of player A and player B is now locked. this means that Player B cant kill A and A cant kill B again. However both players can kill player C.<br><br>

If player A kills player B with weapon X, then player A is no longer allowed to use weapon X. If player A kills player C with weapon X then the kill is invalid.
