Zombies!
<br><br>
<div class="param">
    <label for="zombies-kill-limit">Deaths Until Team Change</label>
    <input id="zombies-kill-limit" name="zombies-kill-limit" type="number" value="3" min="1" step="1">
</div>
<div class="param">
    <label for="zombies-show-count">Only Show Survivor Count to Survivors</label>
    <input id="zombies-show-count" name="zombies-show-count" type="checkbox" value="yes"><br>
    <!-- <span style="font-size:0.6em">If you enable this option, survivors CANNOT register kills on one another</span> -->
</div>
<br><br>

Please note that the game will start with no zombies. If you want to make someone a zombie then head to the game state page and force them to be a zombie!
