{% macro card(a) %}
<div class="player-card" data-kills="#kills" data-deaths="#deaths" data-uid="#uid">
	<div class="header-details">
		<div class="name-row">{{util.fullname(a)}}</div>
		<div class="nickname-rank">&nbsp;</div>
	</div>
	<div class="rhs">
		<div class="display-picture" style="background-image:url({{a.imgname}})"></div>
	</div>
	<div title="address" class="address-group">
		<p>{{ a.address|address }}</p>
	</div>
	<div class="academic-group">
		<p title="college">{{ a.college }}</p>
		<p title="course">{{ a.course }}</p>
	</div>
	<div class="last-login"></div>
</div>
{% endmacro %}