{% macro removeGuildMember(a) %}
<li class="player-row gamegroup-row" data-index="{{a|search}}" data-membership="{{a.membership}}">
	<section>
		<header>
			<div class="name">{{a.forename}} {{a.surname}}</div>
			<div class="nickname-rank"><span class="nickname">{{a.nickname}}</span><!--  Lethality: #lethality --></div>
<!-- 			<figure class="#mtype-icon"></figure> -->
		</header>
		<div class="membership-fields">
			<div title="address" class="address-group">
				<p>{{ a.address|address }}</p>
			</div>
			<div class="academic-group">
				<p title="college">{{ a.college }}</p>
				<p title="course">{{ a.course }}</p>
			</div>
			<form action="" method="post">
				{{form.a('changeguild')}}
				{{form.t(token)}}
				<input type="hidden" name="shouldBeGuild" value="{% if a.guild %}no{% else %}yes{% endif %}">
				<input type="hidden" name="assassinuid" value="{{ a._id|safe }}">
				<input type="submit" name="playeraction" value="Remove Guild">
			</form>
<!-- 		<div class="last-login">#ago</div> -->

		</div>

	</section>
	<aside>
		<div class="display-picture" style="background-image:url({{a.imgname}})"></div>
	</aside>

	<div>

	</div>
</li>

{% endmacro %}

{% macro addGuildMember(a) %}
<li class="addplayer-row" data-index="{{a|search}}">
	<div class="name">{{a.forename}} {{a.surname}}</div>
	<form action="" method="post" class="addguild-form">
		{{form.a('changeguild')}}
		{{form.t(token)}}
		<input type="hidden" name="shouldBeGuild" value="{% if a.guild %}no{% else %}yes{% endif %}">
		<input type="hidden" name="assassinuid" value="{{ a._id|safe }}">
		<input type="submit" name="playeraction" value="+">
	</form>
</li>
{% endmacro %}

{% macro member(a) %}
<li class="player-row member-row" data-index="{{a|search}}" data-membership="{{a.membership}}">
	<section>
		<header>
			<div class="name">{{a.forename}} {{a.surname}}</div>
			<div class="nickname-rank"><span class="nickname">{{a.nickname}}</span><!--  Lethality: #lethality --></div>
<!-- 			<figure class="#mtype-icon"></figure> -->
		</header>
		<div class="membership-fields">
			<div title="address" class="address-group">
				<p>{{ a.address|address }}</p>
			</div>
			<div class="academic-group">
				<p title="college">{{ a.college }}</p>
				<p title="course">{{ a.course }}</p>
			</div>
			<!--
<form action="" method="post">
				{{form.a('changenickname')}}
				{{form.t(token)}}
				<input type="hidden" name="assassinuid" value="{{ a._id|safe }}">
				<input type="text" name="newnickname" value="{{a.nickname}}" placeholder="nickname">
				<input type="submit" name="playeraction" value="Change Nickname">
			</form>
-->
<!-- 		<div class="last-login">#ago</div> -->

		</div>
		<div>
			<input type="submit" data-uid="{{a._id|safe}}" value="Reset Password" name="resetpassword">
		</div>

	</section>
	<aside>
		<div class="display-picture" style="background-image:url({{a.imgname}})"></div>
	</aside>

	<div>

	</div>
</li>

{% endmacro %}

{% macro possiblePlayer(a) %}
<li class="addplayer-row addplayer-row-newgame {% if a.optout %}opted-out{% endif %} {% if a.detailsUpdated === false %}details-outdated{% endif %}" data-index="{{a|search}}">
	<div class="name">{{ a.forename }} {{ a.surname }}</div>
	<input type="checkbox" name="uids[]" value="{{ a._id|safe }}" {% if a.autoinclude && !a.optout && !(a.detailsUpdated === false) %}checked{% endif %}>
</li>
{% endmacro %}

{% macro gamestatePlayer(a, g) %}
<li class="player-row gamestate-row" data-index="{{a|search}}">
	<section>
		<header>
			<div class="name">
				{{ a.forename }} {{ a.surname }}
				<div class="scorekd">
					<label for="scorefield-{{ a._id|safe }}">Score:</label>
					<input type="hidden" name="uid" value="{{ a._id|safe }}">
					<input type="hidden" name="gameid" value="{{ g.gameid }}">
					<input id="scorefield-{{ a._id|safe }}" type="text" name="scorefield" value="{{ g.players[a._id|safe].score }}">
				</div>
			</div>
		</header>
		<div class="gamestate-readout">
			<form action="" method="post" class="removeplayerform">
				{{form.t(token)}}
				{{form.a('removeplayer')}}
				<input type="hidden" name="gameid" value="{{ g.gameid }}">
				<input type="hidden" name="uid" value="{{ a._id|safe }}">
				<input type="submit" name="playeraction" value="Remove player">
			</form>
			<form action="" method="post" class="gamestateform">
				{{form.t(token)}}
				{{form.a('changegamestate')}}
				<input type="hidden" name="gameid" value="{{ g.gameid }}">
				<input type="hidden" name="playerid" value="{{ a._id|safe }}">
				<div class="gamestate-block">
					LOADING GAME STATE
				</div>
			</form>
		</div>
	</section>
	<aside>
		<div class="display-picture" style="background-image:url({{a.imgname}})"></div>
	</aside>

	<div>

	</div>
</li>
{% endmacro %}

{% macro gamestateAddPlayer(a, g) %}
<li class="addplayer-row addplayer-row-gamestate" data-index="{{a|search}}">
	<div class="name">{{ a.forename }} {{ a.surname }}</div>
	<form action="" method="post" class="addplayer-form">
		{{form.t(token)}}
		{{form.a('addplayer')}}
		<input type="hidden" name="gameid" value="{{ g.gameid }}">
		<input type="hidden" name="uid" value="{{ a._id|safe }}">
		<input type="submit" name="addplayer" value="+">
	</form>
</li>
{% endmacro %}

{% macro gamePlayer(a, g, verb) %}
	{% if !a.hasBeenKilledBy %}
	<li class="player-row {% if a.hasKilled %}has-killed{% endif %}" data-index="{{a|search}}">
		<section>
			<header>
				<div class="name">{{ a.forename }} {{ a.surname }}</div>
				<div class="nickname-rank"><span class="nickname">{{a.nickname}}</span><!--  Lethality: #lethality --></div>
			</header>
			<div class="fields">
				<div title="address" class="address-group">
					<p>{{ a.address|address }}</p>
					{% if a.liverin %}
					<p>(Living In)</p>
					{% endif %}
				</div>

				<div class="academic-group">
					<p title="college">{{ a.college }}</p>
					<p title="course">{{ a.course }}</p>
				</div>
			</div>
			<div class="form-wrapper">
				<form action="/report" method="get">
					<input type="hidden" name="victimid" value="{{a._id|safe}}">
					<input type="hidden" name="gameid" value="{{g.gameid}}">
					<input type="submit" name="kill" value="{{{true:verb, false:"Kill"}[!!verb]}}">
				</form>
			</div>

		</section>
		<aside>
			<div class="display-picture" style="background-image:url({{a.imgname}})"></div>
		</aside>

		<div>

		</div>
	</li>
	{% endif %}
{% endmacro %}
